<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form id="edit">
    <label>Address:</label>
    <input type="text" id="address" name="address"><br><br>
    <label>Payment_method:</label>
    <input type="text" id="method" name="method"><br><br>
    <input type="submit" value="Submit">
    <p id="demo"></p>
</form>
<script>
const form = document.getElementById('edit');
form.addEventListener('submit', function(event) {
  event.preventDefault();
  const a = document.getElementById('address').value;
  const b = document.getElementById('method').value;
  const demo = document.getElementById('demo');
  const url = window.location.href;
  let parts = url.split("=");
  let id = parts[parts.length-1];
  const api = 'http://localhost:8080/orders/update?address=' + a + '&payment_method=' + b + '&id=' + id;
  fetch(api , {
      method: 'PUT',
      headers: {'content_type': 'application/json'},
      body: JSON.stringify({})
  }).then(response => response.json())
  .then(data => {
          console.log(data)
          const orders = data;
          demo.innerHTML = "Sửa thành công";
  })
});
</script>
</body>
</html>