<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <style>
    .table {
        display: inline-block;
        border-collapse: collapse;
    }
    .row {
        white-space: nowrap;
    }
    .cell {
        width: 150px;
        height: 50px;
        border: 1px solid black;
        float: left;
    }
</style>
</head>
<body>
<div class="table">
    <div class="row">
        <div class="cell">ID</div>
        <div class="cell">Locations</div>
        <div class="cell">Date</div>
        <div class="cell">Order Status</div>
        <div class="cell">Payment method</div>
        <div class="cell">Total Price</div>
        <div class="cell">Action</div>
    </div>
    <div id="demo"></div>
</div>
<script>
let listOrder = document.getElementById('demo');
const userId = 1;
const api = 'http://localhost:8080/orders/view-us/' + userId
function myabc(){
	fetch(api, {
      method: 'GET',
      headers: {'content_type': 'application/json'}
  })
      .then(response => response.json())
      .then(data => {
          console.log(data)
          const orders = data;
          let listOrder = document.getElementById('demo');
          console.log(listOrder)
          orders.forEach(order => {
              const orderDetail =
                   `<div>
                          <div class="cell">${order.orderId}</div>
                          <div class="cell">${order.locations}</div>
                          <div class="cell">${order.date}</div>
                          <div class="cell">${order.orderStatus}</div>
                          <div class="cell">${order.payment_method}</div>
                          <div class="cell">${order.total_price}</div>
                          <div class="cell">
                                  <a href="/edit?=${order.orderId}">
                                       <button>Edit</button>
                                  </a>
                          </div>
                    </div>`;
              listOrder.innerHTML += orderDetail;
          });
      })
}

myabc()
</script>
</body>
</html>